<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="IMM Application Automation Test Suite">
  <test name="IMM Application Test Cases" >
    <classes>
   	  <class name="com.imm.qa.testcases.CategoryDashboardTest"/>
      <class name="com.imm.qa.testcases.LoginPageTest"/>
      <class name="com.imm.qa.testcases.HomePageTest"/>
    </classes>
 </test>
</suite>